<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.DeptMapper">
<resultMap 			type="com.example.domain.Dept"    id="WithEmp">
			<id 	property="deptno" 	column="dept_deptno"/>
			<result property="dname" 	column="dept_dname"/>
			<result property="loc" 		column="dept_loc"/>
<collection 		property="emps"   ofType="com.example.domain.Emp">
			<id 	property="empno" 	column="emp_empno"/>
			<result property="ename" 	column="emp_ename"/>
			<result property="job" 		column="emp_job"/>
			<result property="mgr" 		column="emp_mgr"/>
			<result property="hiredate" column="emp_hiredate"/>
			<result property="sal" 		column="emp_sal"/>
			<result property="comm" 	column="emp_comm"/>
			<result property="deptno" 	column="emp_deptno"/>
</collection>
</resultMap>
<select id="selectAllWithEmp" resultMap="WithEmp">
 select	d.DEPTNO 	as dept_deptno,
	   	d.DNAME		as dept_dname,
	   	d.LOC 		as dept_loc,
		e.EMPNO 	as emp_empno,
	 	e.ENAME		as emp_ename,
	   	e.JOB		as emp_jpb,
	   	e.MGR		as emp_mgr,
	   	e.HIREDATE	as emp_hiredate,
	   	e.SAL		as emp_sal,
	   	e.COMM		as emp_comm,
	   	e.DEPTNO	as emp_deptno
	     from dept d left outer join emp e 
	     on d.deptno = e.deptno

</select>
<resultMap type="com.example.domain.Dept" id="pageWithEmp">
<collection property="emps" column="dept_deptno" select="selectEmp"/>
</resultMap>
<select id="selectEmp" resultType="com.example.domain.Emp">
select * 
  from emp
 where deptno = #{deptno}
</select>
<select id="selectPageWithEmp" resultMap="pageWithEmp">
	select d.*,d.deptno as dept_deptno
	  from dept d 
	offset #{firstItem} - 1 rows
	 fetch next #{itemsPerPage} rows only
</select>


<select id="selectByDeptnoWithEmp" resultMap="WithEmp">
 select	d.DEPTNO 	as dept_deptno,
	   	d.DNAME		as dept_dname,
	   	d.LOC 		as dept_loc,
		e.EMPNO 	as emp_empno,
	 	e.ENAME		as emp_ename,
	   	e.JOB		as emp_jpb,
	   	e.MGR		as emp_mgr,
	   	e.HIREDATE	as emp_hiredate,
	   	e.SAL		as emp_sal,
	   	e.COMM		as emp_comm,
	   	e.DEPTNO	as emp_deptno
	     from dept d left outer join emp e 
	       on d.deptno = e.deptno
		where d.deptno = #{deptno}	

</select>

<insert id="insert">
	insert into dept
	(
	DEPTNO,
	DNAME,
	LOC
	)
	values
	(
	#{deptno},
	#{dname},
	#{loc}
	)
	

</insert>

<update id="updateByDeptno">
</update>
</mapper>